// out: false, compress: true, sourceMap: true, main: 'monitoring.less'

.battery-data {
    .line-1 h3 {
        text-align: center;
        margin: 5px;
    }

    .line-2 {
        display: flex;
        margin-top: 15px;
    
        .battery-container, .data-div {
            display: flex;
            align-items: center;
        }
        
        .battery-container {
            margin-left: -15px;
        }
        
        .data-div {
            flex-grow: 1;
            font-size: 23px;
            margin-left: -10px;
            justify-content: center;
        }
    }
}

