// out: false, compress: true, sourceMap: true, main: 'main.less'

@card-bg-color: rgba(255, 255, 255, 0.8);
@picture-size: 70px;

.signals main {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    .error-div {
        padding: 20px;
    }

    .data-card{
        border-radius: 10px;
        margin: 10px 20px 10px 20px;
        padding: 10px;
        background: inherit;
        overflow: hidden;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.4);
        background-color: @card-bg-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        img {
            width: @picture-size;
        }

        h3 {
            margin-left: 20px;
        }
    }

    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400;
        box-shadow: 24;
        padding: 4;

        p {
            text-align: justify;
        }
    }
}